# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Databases (local SQLite)
*.db
*.sqlite3

# Logs
*.log

# PyInstaller build folders
/build/
dist/
*.spec

# IDEs / Editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db